global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    plane: replace-with-plane-name
    provider: replace-with-provider-name
    region: replace-with-region-name

scrape_configs:
  - job_name: mini-cloud-workload-otel
    metrics_path: /metrics
    static_configs:
      - targets:
          - otel-collector:9464

  - job_name: mini-cloud-worker-private
    metrics_path: /metrics
    file_sd_configs:
      - files:
          - /etc/prometheus/file_sd/*.json
