server:
  httpAddr: {{printf "%q" .HTTPAddr}}

ui:
  dir: {{printf "%q" (printf "%s/web" .InstallRoot)}}

auth:
  adminToken: {{printf "%q" .AdminToken}}
  southboundToken: {{printf "%q" .SouthboundToken}}
  southboundTLS:
    caCert: |
{{indent 6 .SouthboundTLS.CACert}}
    cert: |
{{indent 6 .SouthboundTLS.Cert}}
    key: |
{{indent 6 .SouthboundTLS.Key}}

dns:
  serviceBaseDomain: {{printf "%q" .ServiceBaseDomain}}
  dnspod:
    domain: {{printf "%q" .DNSPodDomain}}

planes:
{{- range .Planes}}
  - id: {{printf "%q" .ID}}
    name: {{printf "%q" .Name}}
    displayName: {{printf "%q" .DisplayName}}
    provider: {{printf "%q" .Provider}}
    region: {{printf "%q" .Region}}
    grpcEndpoint: {{printf "%q" .GRPCEndpoint}}
{{- end}}
