server:
  listenGRPCAddr: {{printf "%q" .ListenGRPCAddr}}

database:
  url: postgres://mini_cloud:mini_cloud@127.0.0.1:5432/mini_cloud_cloud_plane?sslmode=disable

plane:
  name: {{printf "%q" .PlaneName}}
  grpcEndpoint: {{printf "%q" .PlaneGRPCEndpoint}}

controlPlane:
  url: {{printf "%q" .ControlPlaneURL}}
  bearerToken: {{printf "%q" .SouthboundToken}}

nodeAgent:
  connectEndpoint: {{printf "%q" .NodeAgentConnectEndpoint}}
  token: {{printf "%q" .NodeAgentToken}}
  binaryUrl: {{printf "%q" .NodeAgentBinaryURL}}

infrastructure:
  provider: {{printf "%q" .Provider}}
  regionId: {{printf "%q" .RegionID}}
  zoneId: {{printf "%q" .ZoneID}}
{{- if eq .Provider "tencent"}}
  tencentCredential:
    secretId: {{printf "%q" .TencentCredential.SecretID}}
    secretKey: {{printf "%q" .TencentCredential.SecretKey}}
    token: {{printf "%q" .TencentCredential.Token}}
{{- end}}

nodeProvisioning:
  instanceType: {{printf "%q" .InstanceType}}
  registryMirrors:
{{- range .RegistryMirrors}}
    - {{printf "%q" .}}
{{- end}}
  workloadEgressProxyEndpoint: {{printf "%q" .WorkloadEgressProxyEndpoint}}
{{- if eq .Provider "aliyun"}}
  aliyun:
    imageId: {{printf "%q" .NodeProvider.ImageID}}
    keyPairName: {{printf "%q" .NodeProvider.KeyPairName}}
    vSwitchId: {{printf "%q" .NodeProvider.VSwitchID}}
    securityGroupId: {{printf "%q" .NodeProvider.SecurityGroupID}}
    systemDiskCategory: {{printf "%q" .NodeProvider.SystemDiskCategory}}
    systemDiskSizeGiB: {{.NodeProvider.SystemDiskSizeGiB}}
{{- else if eq .Provider "tencent"}}
  tencent:
    imageId: {{printf "%q" .NodeProvider.ImageID}}
    keyIds:
{{- range .NodeProvider.KeyIDs}}
      - {{printf "%q" .}}
{{- end}}
    vpcId: {{printf "%q" .NodeProvider.VPCID}}
    subnetId: {{printf "%q" .NodeProvider.SubnetID}}
    securityGroupIds:
{{- range .NodeProvider.SecurityGroupIDs}}
      - {{printf "%q" .}}
{{- end}}
    systemDiskType: {{printf "%q" .NodeProvider.SystemDiskType}}
    systemDiskSizeGiB: {{.NodeProvider.SystemDiskSizeGiB}}
{{- end}}

ingress:
  baseDomain: {{printf "%q" .IngressBaseDomain}}
  caddyAdminURL: http://127.0.0.1:2019
  publicOrigin: {{printf "%q" .IngressPublicOrigin}}

observability:
  otlpEndpoint: {{printf "%q" .OTLPEndpoint}}
