server:
  httpAddr: {{printf "%q" .HTTPAddr}}

ui:
  dir: {{printf "%q" (printf "%s/web" .InstallRoot)}}

auth:
  adminToken: {{printf "%q" .AdminToken}}
  southboundToken: {{printf "%q" .SouthboundToken}}

dns:
  serviceBaseDomain: {{printf "%q" .ServiceBaseDomain}}
  dnspod:
    domain: {{printf "%q" .DNSPodDomain}}
{{- if .DNSPodCredential.SecretID}}
    secretId: {{printf "%q" .DNSPodCredential.SecretID}}
    secretKey: {{printf "%q" .DNSPodCredential.SecretKey}}
{{- if .DNSPodCredential.Token}}
    token: {{printf "%q" .DNSPodCredential.Token}}
{{- end}}
{{- end}}

planes:
{{- range .Planes}}
  - id: {{printf "%q" .ID}}
    name: {{printf "%q" .Name}}
    displayName: {{printf "%q" .DisplayName}}
    provider: {{printf "%q" .Provider}}
    region: {{printf "%q" .Region}}
    grpcEndpoint: {{printf "%q" .GRPCEndpoint}}
{{- end}}
