server:
  httpAddr: {{printf "%q" .HTTPAddr}}

ui:
  dir: {{printf "%q" (printf "%s/web" .InstallRoot)}}

database:
  url: postgres://mini_cloud:mini_cloud@127.0.0.1:5432/mini_cloud_control_plane?sslmode=disable

auth:
  adminToken: {{printf "%q" .AdminToken}}
  southboundToken: {{printf "%q" .SouthboundToken}}

{{- if .DNSPodDomain}}
dns:
  serviceBaseDomain: {{printf "%q" .ServiceBaseDomain}}
  dnspod:
    domain: {{printf "%q" .DNSPodDomain}}
    secretId: {{printf "%q" .DNSPodCredential.SecretID}}
    secretKey: {{printf "%q" .DNSPodCredential.SecretKey}}
    token: {{printf "%q" .DNSPodCredential.Token}}

{{- end}}
logs:
  loki:
    url: {{printf "%q" .LokiURL}}
    tenantID: {{printf "%q" .LokiTenantID}}
